$first-color: #34b9a9;
$first-color-light: #32bea6;
$second-color: #f28454;
$second-color-light: #f79489;
$third-color: #245c4c;
$third-color-light: #81b622;
$fourth-color: #040404;
$fifth-color: #111111;
$sixth-color: #5881f8;
$seven-color: #4498ff;
$eight-color: #09bda0;
$input-color: #4c4c4c;
$nine-color: #85919a;
$title-color-light: #4674c6;
$title-color: #414c84;
$title-color-dark: #242f67;
$orrange_color: #ffae00;
$subtitle-color: #8fc53b;
$paragraph-color: #6b6b6b;
$logo-color: #7980a4;
$logo-secondary-color: #bedd8e;
$menu-color: #93c744;
$nav-color: #ffffff;
$brand-color: #00bf9a;
$filter-background: #f5f5f5;
$clear-btn: #6b6b6b;
$select-para: #15212c;
$btn-act: #2ea18c;
$card-border: #ddd;
$shape-border: #5bc0de;
$content-color: #444444;
$red-color: #ca0202;
$blue-color: #52b0fd;
$details-btn: #f8f7fc;
$md-title: #312929;
$pink-color: #fd5d93;
$ash-color: #f3f2f7;
$new_black: #020101;
$new_orange: #fb6e51;

$mac: 4000px;
$desktop-max: 1200px;
$desktop-max-1: 1201px;
$desktop-pro: 1199px;
$desktop: 992px;
$ipad-pro: 991px;
$width850: 850px;
$width849: 849px;
$ipad: 768px;
$mobile: 767px;
$below650: 650px;
$mobile-large: 600px;
$mobile-mini: 540px;
$galaxy-pro: 500px;
$galaxy-micro: 539px;
$galaxy-macro: 400px;
$galaxy: 320px;
$mac-min: 1701px;
$mac-max: 2000px;
$pro: 2001px;
$gal: 3000px;
$gal-pro: 3001px;
$max: 1550px;
$mini: 1400px;
$abc: 2500px;
$xyz: 2501px;
$bg_sc: 3501px;
$sm_sc: 3500px;
$bootstrap_mobile: 575px;
$bootstrap_small_mobile: 450px;
$pixel680: 680px;
$muiSm: 960px;
$muiSmBelow: 959px;
$muiMdEnd: 1279px;

@mixin bg_sc {
  @media (max-width: #{$mac}) and (min-width: #{$bg_sc}) {
    @content;
  }
}
@mixin sm_sc {
  @media (max-width: #{$sm_sc}) and (min-width: #{$gal-pro}) {
    @content;
  }
}
@mixin gal-y {
  @media (max-width: #{$abc}) and (min-width: #{$pro}) {
    @content;
  }
}
@mixin gal-x {
  @media (max-width: #{$gal}) and (min-width: #{$xyz}) {
    @content;
  }
}
@mixin ipad-pro {
  @media (max-width: #{$ipad-pro}) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: #{$ipad-pro}) and (min-width: #{$ipad}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) and (min-width: #{$mobile-mini}) {
    @content;
  }
}
@mixin galaxy {
  @media (max-width: #{$galaxy-micro}) and (min-width: #{$galaxy}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$desktop-pro}) and (min-width: #{$desktop}) {
    @content;
  }
}
@mixin mac {
  @media (max-width: #{$mac}) and (min-width: #{$desktop-max}) {
    @content;
  }
}
@mixin galaxy-pro {
  @media (max-width: #{$galaxy-micro}) and (min-width: #{$galaxy-pro}) {
    @content;
  }
}
@mixin mac-min {
  @media (max-width: #{$mac}) and (min-width: #{$mac-min}) {
    @content;
  }
}
@mixin gal-pro {
  @media (max-width: #{$mac}) and (min-width: #{$gal-pro}) {
    @content;
  }
}
@mixin gal {
  @media (max-width: #{$gal}) and (min-width: #{$pro}) {
    @content;
  }
}
@mixin pro {
  @media (max-width: #{$mac-max}) and (min-width: #{$mac-min}) {
    @content;
  }
}
@mixin max {
  @media (max-width: #{$max}) and (min-width: #{$desktop-max}) {
    @content;
  }
}
@mixin mini {
  @media (max-width: #{$mini}) and (min-width: #{$desktop-max}) {
    @content;
  }
}
@mixin mini-1 {
  @media (max-width: #{$mini}) and (min-width: #{$desktop-max-1}) {
    @content;
  }
}
@mixin abc {
  @media (max-width: #{$abc}) and (min-width: #{$mini}) {
    @content;
  }
}
@mixin tab {
  @media (max-width: #{$desktop-pro}) and (min-width: #{$ipad}) {
    @content;
  }
}
@mixin ipad-mini {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin ipad-max {
  @media (max-width: #{$max}) {
    @content;
  }
}
@mixin bellowDesktop {
  @media (max-width: #{$desktop-max}) {
    @content;
  }
}
@mixin betweenDesktopTab {
  @media (max-width: #{$desktop-max}) and (min-width: #{$desktop}) {
    @content;
  }
}
@mixin bootstrap_mobile_device {
  @media (max-width: #{$bootstrap_mobile}) {
    @content;
  }
}
@mixin bootstrap_small_mobile_device {
  @media (max-width: #{$bootstrap_small_mobile}) {
    @content;
  }
}
@mixin between1500to2000 {
  @media (max-width: #{$mac-max}) and (min-width: #{$max}) {
    @content;
  }
}
@mixin between400to539 {
  @media (max-width: #{$galaxy-micro}) and (min-width: #{$galaxy-macro}) {
    @content;
  }
}

@mixin between850to991 {
  @media (max-width: #{$ipad-pro}) and (min-width: #{$width850}) {
    @content;
  }
}
@mixin below850 {
  @media (max-width: #{$width850}) {
    @content;
  }
}
@mixin between768to849 {
  @media (max-width: #{$width849}) and (min-width: #{$mobile}) {
    @content;
  }
}
@mixin between320to599 {
  @media (max-width: #{$mobile-large}) and (min-width: #{$galaxy}) {
    @content;
  }
}
@mixin bellow600 {
  @media (max-width: #{$mobile-large}) {
    @content;
  }
}
@mixin below400 {
  @media (max-width: #{$galaxy-macro}) {
    @content;
  }
}
@mixin below500 {
  @media (max-width: #{$galaxy-pro}) {
    @content;
  }
}
@mixin below680 {
  @media (max-width: #{$pixel680}) {
    @content;
  }
}
@mixin below650 {
  @media (max-width: #{$below650}) {
    @content;
  }
}
@mixin desktopToMini {
  @media (max-width: #{$mini}) and (min-width: #{$desktop}) {
    @content;
  }
}
@mixin muiMedium {
  @media (max-width: #{$muiMdEnd}) and (min-width: #{$muiSm}) {
    @content;
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.5em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.5em;
    height: 0.9em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}

body {
  a {
    text-decoration: none;
    color: #000;
  }
}
[dir] .mb-1 {
  margin-bottom: 1rem !important;
}

html[dir='ltr'] body {
  direction: ltr;
}
[dir] body {
  margin: 0;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(34, 41, 47, 0);
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body * input {
  padding: 0.571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem;
}
[dir] input,
[dir] button,
[dir] select,
[dir] optgroup,
[dir] textarea {
  margin: 0;
}
.form-label {
  font-size: 0.857rem;
  color: #5e5873;
}
.form-control {
  margin-top: 0.32em;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #6e6b7b;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body * .form-control:disabled,
.form-control[readonly] {
  opacity: 1;
  background-color: #efefef;
}

body * .form-control:focus {
  background-color: #fff;
  border-color: #7367f0;
  box-shadow: 0 3px 10px 0 rgb(34 41 47 / 10%);
  outline: none !important;
}

input::file-selector-button {
  border: none;
  border-right: 1px solid #ddd;
  padding: 0.3em 0.3em;
  margin: 0;
  background-color: #fff;
  font-size: 0.85rem;
  &:focus,
  &:active {
    background-color: #ddd;
  }
}
code {
  padding: 0.1rem 0.4rem;
  background-color: #eee;
  border-radius: 0.1785rem;
  font-size: 90%;
  color: #d63384;
}
